/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


/* Basic css styles */

h1 {
    font-family: 'Audiowide';
    font-size: 36px;
    margin-top: 15px;
}

p {
    font-size: 18px;
}

li {
    font-size: 18px;
}

h3 {
    font-size: 22px;
    font-style: bold;
}

.italics {
    font-style: italic;
    font-size: 20px;
}

.indent {
    text-indent: 5%;
}


/* Header menu */

.top-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #dadada;
}

.top-menu li {
    display: inline;
    padding: 10px 25px;
}

.top-menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
    font-family: 'Audiowide';
}

.top-menu a:hover {
    background-color: #807d7d;
}


/* Intro header */

.header {
    display: flex;
    /* align-items: flex-start; */
    justify-content: center;
}

.header img {
    width: auto;
    max-width: 250px;
    height: auto;
    max-height: 250px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 75px;
}

.header h1 {
    font-size: 76px;
    margin-top: 100px;
    font-family: 'Audiowide';
}


/* Layout */

.layout-container {
    /* display: grid; */
    display: flex;
    /* grid-template-columns: 1fr 2fr; */
    justify-content: center;
    margin-top: 25px;
    gap: 50px;
}

.layout-div1 {
    flex: 1;
    width: auto;
    max-width: fit-content;
    position: relative;
    /* grid-column: 1/2; */
    padding: 10px;
    background-color: #fff;
    /* padding: 20px; */
    /* border-radius: 10px; */
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.layout-div2 {
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 35px;
    width: auto;
    max-width: 700px;
    height: auto;
    /* grid-column: 2/3; */
    /* position: relative; */
    padding: 10px;
    padding-right: 20px;
    background-color: #fff;
    border-radius: 10px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.layout-div2-inner {
    padding-right: 20px;
    width: auto;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    
}

.layout-container h2 {
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Audiowide';
}

.layout-container h3 {
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Audiowide';
}


/* Skills */

.skill-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 15px;
}

.skill {
    display: flex;
    margin: 5px;
}

.skill span {
    width: 40px;
    flex: 1;
    /* display: block; */
    margin-right: 20px;
    margin-top: 12px;
    font-weight: bold;
    font-size: 18px;
}

.progress-container {
    /* display: flex; */
    width: 250px;
    height: 18px;
    background-color: #dadada;
    margin-top: 15px;
    margin-left: 35px;
}

.progress-bar {
    height: 18px;
    background-color: rgb(25, 140, 25);
}


/* container*/

.container {
    margin-top: 50px;
}

.container h2 {
    font-size: 36px;
    margin-top: 15px;
    font-family: 'Audiowide';
}

/* Cards */

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 650px;
    margin: 15px;
}

.card img {
    height: auto;
    max-height: 350px;
    
}

/* unsorted css */