/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');


/* Basic css styles */

body {
    background-color: #1f1f1f;
    color: #b1b1b1;
}

h1 {
    font-family: 'Montserrat';
    font-size: 36px;
    margin-top: 15px;
    color: #fff;
}

p {
    font-size: 18px;
}

li {
    font-size: 18px;
}

h3 {
    font-size: 22px;
    font-style: bold;
    color: #fff;
}

a {
    color: #8864f6;
}

a h1{
    color: #8864f6;
}

.italics {
    font-style: italic;
    font-size: 20px;
}

.indent {
    text-indent: 5%;
}


/* Header menu */

.top-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* background-color: #dadada; */
    /* background-color: #333; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top-menu li {
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    padding: 10px 25px;
}

.top-menu a {
    /* color: rgb(0, 0, 0); */
    color: #fff;
    text-decoration: none;
    /* font-size: 28px; */
    font-size: clamp(18px, 3vw, 32px);
    display: inline-flex;
    font-family: 'Montserrat';
}

.top-menu a:hover {
    background-color: #807d7d;
}


/* Intro header */

.header {
    display: flex;
    /* align-items: flex-start; */
    justify-content: center;
    gap: 5%;
}

.header img {
    width: auto;
    max-width: 250px;
    height: auto;
    max-height: 250px;
    border-radius: 50%;
    margin-top: 50px;
    /* margin-left: 25px; */
    margin-right: 75px;
}

.header h1 {
    font-size: 76px;
    margin-top: 100px;
    font-family: 'Montserrat';
}


/* Layout */

.layout-container {
    /* display: grid; */
    display: flex;
    /* grid-template-columns: 1fr 2fr; */
    justify-content: center;
    margin-top: 25px;
    gap: 5%;
}

.layout-div1 {
    flex: 1;
    width: auto;
    max-width: fit-content;
    position: relative;
    /* grid-column: 1/2; */
    padding: 10px;
    /* background-color: #fff; */
    /* padding: 20px; */
    /* border-radius: 10px; */
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.layout-div2 {
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 35px;
    width: auto;
    max-width: 700px;
    height: auto;
    /* grid-column: 2/3; */
    /* position: relative; */
    padding: 10px;
    padding-right: 20px;
    /* background-color: #fff; */
    border-radius: 10px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.layout-div2-inner {
    padding-right: 20px;
    width: auto;
    max-width: 600px;
    /* background-color: #fff; */
    border-radius: 10px;
    
}

.layout-container h2 {
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    font-family: 'Montserrat';
}

.layout-container h3 {
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    font-family: 'Montserrat';
}


/* Skills */

.skill-container {
    /* background-color: #fff; */
    background-color: #242424;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 15px;
}

.skill {
    display: flex;
    margin: 5px;
}

.skill span {
    width: 40px;
    flex: 1;
    /* display: block; */
    margin-right: 20px;
    margin-top: 12px;
    font-weight: bold;
    font-size: 18px;
}

.progress-container {
    /* display: flex; */
    width: 250px;
    height: 18px;
    background-color: #dadada;
    margin-top: 15px;
    margin-left: 35px;
}

.progress-bar {
    height: 18px;
    background-color: rgb(25, 140, 25);
}


/* container*/

.container {
    margin-top: 50px;
}

.container h2 {
    font-size: 36px;
    margin-top: 15px;
    font-family: 'Montserrat';
}

/* Cards */

.card {
    background-color: #242424;
    /* 292929 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 650px;
    margin: 15px;
}

.card img {
    height: auto;
    max-height: 350px;
}

.card figure {
    text-align: center;
}

/* unsorted css */

.sm-btn {
    width: 36px;
    height: 36px;
    display: inline;
    
}

.sm-btn img {
    width: 36px;
    height: 36px;
    padding: 7px;
}

.sm-btn:hover {
    background-color: #005682;
}